@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  --font-color: #424242;
  --bg-color: #fff;
  --color-text: rgba(75, 85, 99, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffffff;
    --font-color: rgba(243, 244, 246, 1);
    --bg-color: #161625;
  }
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: var(--font-color);
  background-color: var(--bg-color);
}

body {
  @apply py-16;
}

.section {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
  @apply px-4 lg:px-0;
}

.section + .section {
  @apply mt-16;
}

.section > * {
  grid-column: 2;
}

.section--full-width {
  width: 100%;
  grid-column: 1 / 4;
}

.section--wide {
  grid-column: 1 / 4;
  width: 100%;
  @apply max-w-3xl mx-auto;
}

.section-title {
  @apply text-xl leading-loose mb-4 text-center;
}

.badge {
  @apply inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-300;
}

a,
.link {
  color: var(--font-color);
  text-decoration: underline;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  @apply rounded-md border border-gray-300 px-3 py-2 focus-within:border-gray-900 focus-within:ring-1 focus-within:ring-gray-900;
}

.form-group {
  display: flex;
  flex-direction: column;
  @apply rounded-md px-3 py-2 focus-within:border-gray-900 focus-within:ring-2 focus-within:ring-gray-900;
}

.form-label {
  @apply block text-xs font-medium; /* text-gray-900 */
}

.form-item {
  @apply bg-transparent block w-full border-0 p-0 placeholder-gray-500 focus:ring-0 sm:text-sm; /* text-gray-900 */
}

@media print {
  body {
    font-size: 12px;
  }
}
