<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>
      Arne Wiese | Freier Entwickler mit Fokus auf Web-Technologien und APIs
    </title>
    <meta name="description" content="Fullstack · JavaScript · TypeScript · NodeJS · Python · Golang">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  <main class="container">
    <slot />
  </main>
  </body>
</html>
