.pageHeader {
  margin-bottom: 2rem;
}

.image {
  height: auto;
  border-radius: 100%;
  display: block;
}

@media (min-width: 768px) {
  .image {
    margin-bottom: var(--space-5);
    width: 100%;
  }
}
