---
import ProjectLogoList from "./project-logo-list";
---

<section id="projects" class="app-grid py-16 scroll-mt-16">
  <div class="app-wide-column">
    <!-- Section Title -->
    <h2 class="cv-h2 mb-6">Kunden & Projekte</h2>

    <!-- Logo Grid -->
    <ProjectLogoList />
  </div>
</section>
