---
import ProjectLogoList from "$lib/components/project-logo-list.svelte";
---

<section id="projects" class="app-grid py-16 scroll-mt-16">
  <div class="app-text-column">
    <h2 class="cv-h2 mb-6">Kunden & Projekte</h2>
  </div>
  <div class="app-wide-column">
    <!-- Section Title -->

    <!-- Logo Grid -->
    <ProjectLogoList />
  </div>
</section>
