---
import { Image } from "astro:assets";
---

<header class="section space-y-6 text-center">
  <div>
    <a href="/" class="inline-block w-32 h-32">
      <Image
        src="/assets/arne-neu-quadratisch.jpeg"
        alt="Arne Wiese"
        widths={[384, 576]}
        aspectRatio="1:1"
        class="rounded-md w-32 h-32 block"
        width={160}
        height={160}
      />
    </a>
  </div>

  <h1 class="text-2xl">Arne Wiese</h1>
  <h2 class="text-3xl leading-snug font-medium">
    Arne Wiese | Freier Entwickler für Web-Technologien, APIs und KI-Lösungen
  </h2>
  <h3 class="font-medium mb-2">
    Fullstack · JavaScript · TypeScript · NodeJS · Python · Golang · AI-Agents &
    Datenintegration · AI-Integration
  </h3>
</header>
