---
import '../../styles/base.css'

import BaseLayout from "@/layouts/BaseLayout.astro";
import CvListing from "@/components/CvListing";
import { getCollection } from 'astro:content';

const cvWork = await getCollection('work');
const cvEducation = await getCollection('education');
---

<BaseLayout>
  <section class="section space-y-8">
    <dl class="grid gap-8 grid-cols-12">
      <dt class="text-gray-500 mb-4 col-span-3 text-right">
        Allgemein
      </dt>
      <dd class="space-x-2 space-y-2 col-span-9">
        <a class="link" href="tel:+491751109743">
          +491751109743
        </a>{" "}
        · arne@wiese.me <br />
        Niederkasseler Str. 55, 40547 Düsseldorf <br />
        Deutsch (Muttersprache), Englisch (fließend)
      </dd>
    </dl>

    <dl class="grid gap-8 grid-cols-12">
      <dt class="text-gray-500 mb-4 col-span-3 text-right">Frontend</dt>
      <dd class="space-x-2 space-y-2 col-span-9">
        JavaScript, React.js, Next.js, Preact, TypeScript, Svelte, Vue.js,
        SVG, HTML5, CSS3, Sass, Responsive Design, D3, Highcharts.js, Framer
        Motion
      </dd>
    </dl>

    <dl class="grid gap-8 grid-cols-12">
      <dt class="text-gray-500 mb-4 col-span-3 text-right">Backend</dt>
      <dd class="space-x-2 space-y-2 col-span-9">
        Node.js, Django, Python, GraphQL, REST, TypeScript, Golang, Supabase
      </dd>
    </dl>

    <dl class="grid gap-8 grid-cols-12">
      <dt class="text-gray-500 mb-4 col-span-3 text-right">
        Datenbanken
      </dt>
      <dd class="space-x-2 space-y-2 col-span-9">
        Firebase, Cloud Firestore, PostgreSQL, MySQL, MongoDB,
      </dd>
    </dl>

    <dl class="grid gap-8 grid-cols-12">
      <dt class="text-gray-500 mb-4 col-span-3 text-right">
        Sonstiges
      </dt>
      <dd class="space-x-2 space-y-2 col-span-9">
        Agile, Docker, Git, TDD, CI, Scrum, Kanban, Figma, Sentry, GraphCMS,
      </dd>
    </dl>
  </section>

  <CvListing
    title="Projekte"
    items={cvWork.filter((item)=> item.data.type !== "permanent")}
    showDetails
  />

  <CvListing
    title="Festanstellung"
    items={cvWork.filter((item)=> item.data.type === "permanent")}
    showDetails
  />


  <CvListing title="Ausbildung" items={cvEducation} showDetails />

</BaseLayout>
